* {
  box-sizing: border-box;
}

body {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logoWrapper {
  width: 136px;
  height: 56px;
  background: white;
}

.logoWrapper img {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 3.5rem;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header {
  height: 64.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: Ruda;
  font-weight: 900;
  font-size: 36px;
  line-height: 100px;
  color: #484848;
  text-align: center;
}

.navigationWrapper {
  height: 100%;
  width: calc(100% - 136px);
  list-style-type: none;
  display: flex;
  background: rgb(255, 255, 255);
}

.navigationWrapper a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  color: #484848;
  font-family: Ruda;
  font-size: 24px;
  width: 192px;
  justify-content: center;
  font-weight: bold;
}

.navigationWrapper a:hover {
  background: rgba(196, 196, 196, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerWrapper__header {
  font-family: Bebas Neue;
  font-size: 250px;
  line-height: 200px;
  color: #ffffff;
  text-shadow: 10px 15px 10px rgba(0, 0, 0, 0.35);
}

.headerWrapper__text {
  font-family: Ruda;
  font-size: 36px;
  color: #ffffff;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 75%;
  height: 0;
  border: 3px solid #484848;
  background: #484848;
  margin: 4.375rem auto;
  border-radius: 1rem;
}
